body {
  background: #073642;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  color: #93a1a1;
  font-family: "Georgia";
}

.grid-row {
  background: #002b36;
  height: 150px;
}

.btn-row {
  background: #002b36;
  text-align: center;
}

.row .columns {
  height: 100px;
  border-radius: 15px;
  margin-top: 20px;
}

.chart {
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

.red {
  background: #dc322f;
}

.green {
  background: #859900;
}

.blue {
  background: #268bd2;
}

.yellow {
  background: #b58900;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}